.mt {
  margin-top: 10px;
}

.ml {
  margin-left: 10px;
}

.mr {
  margin-right: 10px;
}

.mb {
  margin-bottom: 10px;
}

.input-inline {
	display: inline;
	width: 50%;
}

.align-center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}