.inactive {
  background: #5cb85c;
  color: #fff;
}

.todos {
  background: #fff;
  border-radius: 10px;
  width: 600px;
  margin: 15px auto;
  padding: 15px;
}

.todo-heading {
  font-size: 30px;
  margin: 0 0 15px 0;
}

.add-new-item {
  margin: 0 0 15px 0;
  font-size: 15px;
}

.control {
  text-align: center;
}

.completed {
  text-decoration: line-through;
}

.custom-control {
  min-height: 1em;
  padding-left: 1rem;
}